<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <header><% include ../partials/header %></header>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#about">About Us</a></li>
        <li><a data-toggle="tab" href="#contact">Contact Us</a></li>
      </ul>

      <div class="tab-content">
        <div id="about" class="tab-pane fade in active">
          <h3>Menu 3</h3>
          <p>
            Eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.
          </p>
        </div>
        <div id="contact" class="tab-pane fade">
          <h3>Menu 3</h3>
          <p>
            Eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
