<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <header><% include ../partials/header %></header>
      <ul class="nav nav-tabs">
        <li id="aboutTab" class="active">
          <a data-toggle="tab" href="#about">About Us</a>
        </li>
        <li id="contactTab">
          <a data-toggle="tab" href="#contact">Contact Us</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="about" class="tab-pane fade in active">
          <h3>Lotus Flowers Inc.</h3>
          <p>
            We sell flowers!
          </p>
        </div>
        <div id="contact" class="tab-pane fade">
          <h3>Managers:</h3>
          <p>
            0504874004<br />
            0546555816
          </p>
        </div>
      </div>
    </div>
  </body>
  <script src="/scripts/login.js"></script>
  <script src="/scripts/update_view.js"></script>
</html>
