<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#flowers">Flowers Catalog</a></li>
        <li>
          <a data-toggle="tab" href="#users"
            >Users (only for director/employee)</a
          >
        </li>
        <li>
          <a data-toggle="tab" href="#branches">Branches (only for director)</a>
        </li>
        <li class="active"><a data-toggle="tab" href="#about">About Us</a></li>
        <li><a data-toggle="tab" href="#contact">Contact Us</a></li>
      </ul>

      <div class="tab-content">
        <div id="flowers" class="tab-pane fade">
          <h3>HOME</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div id="users" class="tab-pane fade">
          <h3>Menu 1</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div id="branches" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam.
          </p>
        </div>
        <div id="about" class="tab-pane fade in active">
          <h3>Menu 3</h3>
          <p>
            Eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.
          </p>
        </div>
        <div id="contact" class="tab-pane fade">
          <h3>Menu 3</h3>
          <p>
            Eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
